body{
    display:flex;
    justify-content:center;
}
nav{
    display:flex;
    justify-content:center;
    margin-right: 260px;
}
#container{
    box-sizing:border-box;
    width:1018px;
    padding:7px;
}
canvas{
    border: 1px solid black;
    box-sizing:border-box;
}
h1{
    display: flex;
    justify-content: center;
    margin-right: 260px;
}
